
<div class="stats-card">
<h4>Statistics</h4>

<div class="stats">
<div class="stats-products">
<h3 class="stats-number"><%= link_to @products.size, "/admin/products" %></h3>
<p>total products</p>
</div>
<div class="stats-categories">
<h3 class="stats-number"><%= link_to @categories.size, "/admin/products" %></h3>
<p>total categories</p></div>
</div>

</div>