<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Categories</h1>
  </header>

  <div class="admin-add">
    <%= link_to '+ New Category', [:new, :admin, :category] %>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Number of Products</th>
            <th>Delete</th>
        </tr>
      </thead>
      <tbody>
       <%= render @categories %>
      </tbody>
    </table>

  </div>

</section>

